@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

.VIpgJd-ZVi9od-ORHb-OEVmcd, .skiptranslate iframe, .goog-te-banner-frame.skiptranslate, #goog-gt-tt { display: none !important; visibility: hidden !important; }
body, html { top: 0px !important; position: static !important; margin-top: 0px !important; }
.goog-tooltip, .goog-tooltip:hover { display: none !important; }
.goog-text-highlight { background-color: transparent !important; border: none !important; box-shadow: none !important; }
#google_translate_element { display: none !important; }
.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background-color: #cbd5e1; border-radius: 20px; }
.dark .custom-scrollbar::-webkit-scrollbar-thumb { background-color: #475569; }